name: Code Quality
on:
  - push
  - pull_request
jobs:
  # Currently this is handled by `check:types`

  # check-build:
  #   name: Check Build
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Check Out Repo
  #       uses: actions/checkout@v2
  #     - name: Set Up NodeJS
  #       uses: actions/setup-node@v2
  #       with:
  #         node-version: 14
  # #      - name: Cache Node Modules
  # #        uses: actions/cache@v2
  # #        if: ${{ !env.ACT }}
  # #        with:
  # #          path: "**/node_modules"
  # #          key: ${{ runner.os }}-node-modules-${{ hashFiles('**/yarn.lock') }}
  # #          restore-keys: ${{ runner.os }}-node-modules-
  #     - name: Install Node Modules
  #       run: yarn install --immutable
  #     - name: Run Build
  #       run: yarn build
  check-lint:
    name: Check Lint
    runs-on: ubuntu-latest
    steps:
      - name: Check Out Repo
        uses: actions/checkout@v2
      - name: Set Up NodeJS
        uses: actions/setup-node@v2
        with:
          node-version: 14
      # - name: Cache Node Modules
      #   uses: actions/cache@v2
      #   if: ${{ !env.ACT }}
      #   with:
      #     path: "**/node_modules"
      #     key: ${{ runner.os }}-node-modules-${{ hashFiles('**/yarn.lock') }}
      #     restore-keys: ${{ runner.os }}-node-modules-
      - name: Install Node Modules
        run: yarn install --immutable
      - name: Run Lint Check
        run: yarn check:lint
  check-style:
    name: Check Style
    runs-on: ubuntu-latest
    steps:
      - name: Check Out Repo
        uses: actions/checkout@v2
      - name: Set Up NodeJS
        uses: actions/setup-node@v2
        with:
          node-version: 14
      # - name: Cache Node Modules
      #   uses: actions/cache@v2
      #   if: ${{ !env.ACT }}
      #   with:
      #     path: "**/node_modules"
      #     key: ${{ runner.os }}-node-modules-${{ hashFiles('**/yarn.lock') }}
      #     restore-keys: ${{ runner.os }}-node-modules-
      - name: Install Node Modules
        run: yarn install --immutable
      - name: Run Lint Check
        run: yarn check:style
  check-types:
    name: Check Types
    runs-on: ubuntu-latest
    steps:
      - name: Check Out Repo
        uses: actions/checkout@v2
      - name: Set Up NodeJS
        uses: actions/setup-node@v2
        with:
          node-version: 14
      # - name: Cache Node Modules
      #   uses: actions/cache@v2
      #   if: ${{ !env.ACT }}
      #   with:
      #     path: "**/node_modules"
      #     key: ${{ runner.os }}-node-modules-${{ hashFiles('**/yarn.lock') }}
      #     restore-keys: ${{ runner.os }}-node-modules-
      - name: Install Node Modules
        run: yarn install --immutable
      - name: Run Lint Check
        run: yarn check:types
  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Check Out Repo
        uses: actions/checkout@v2
      - name: Set Up NodeJS
        uses: actions/setup-node@v2
        with:
          node-version: 14
      # - name: Cache Node Modules
      #   uses: actions/cache@v2
      #   if: ${{ !env.ACT }}
      #   with:
      #     path: "**/node_modules"
      #     key: ${{ runner.os }}-node-modules-${{ hashFiles('**/yarn.lock') }}
      #     restore-keys: ${{ runner.os }}-node-modules-
      - name: Install Node Modules
        run: yarn install --immutable
      - name: Run Tests
        run: yarn test:ci
      - name: Code Coverage
        uses: codecov/codecov-action@v1
        if: ${{ !env.ACT }}
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
